/*

	GLOBAL
	FUN

	*/
.clear-float:after, #the-list:after, #the-list li:after {
  content: "";
  display: table;
  clear: both; }

/*

	THE
	LIST

	*/
#the-list {
  width: 600px;
  margin: 0 auto;
  list-style-type: none;
  padding: 0 0 90px; }

#the-list li {
  height: 250px;
  margin: 30px 0; }
  #the-list li:after {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  #the-list li .art, #the-list li .info {
    width: 270px; }
  #the-list li .art {
    height: 100%; }
  #the-list li .info {
    display: inline-block;
    vertical-align: middle; }

#the-list li:nth-of-type(even) {
  text-align: left; }
  #the-list li:nth-of-type(even) .art {
    float: right; }
  #the-list li:nth-of-type(even) .info {
    display: inline-block;
    text-align: right; }

#the-list li:nth-of-type(odd) {
  text-align: right; }
  #the-list li:nth-of-type(odd) .art {
    float: left; }
  #the-list li:nth-of-type(odd) .info {
    display: inline-block;
    text-align: left; }

/*

	THE
	NAV

	*/
footer nav {
  width: 100%;
  margin: 0;
  background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px; }

footer nav ul {
  width: 600px;
  padding: 0;
  margin: 0 auto; }

footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 7.5px;
  padding: 7.5px 0 0; }
  footer nav ul li#logo, footer nav ul li#logo canvas {
    width: 60px;
    height: 60px;
    background-color: #fff; }
  footer nav ul li.flank {
    width: 270px; }
    footer nav ul li.flank.right {
      text-align: right; }
      footer nav ul li.flank.right a {
        display: inline-block;
        margin-left: 5.5%; }

/*

	PHYSICAL
	STUFF

	*/
.info.drag {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 540px;
  padding: 30px;
  background-color: #fff;
  position: absolute;
  left: 30px;
  top: 30px; }

#back-images {
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: scroll; }
  #back-images img {
    width: 100%;
    height: auto;
    display: block; }
