@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

$space-vertical: 60px;
$width-main: 1200px;
$width-gutter: $width-main*.1;
$width-logo-footer: $width-gutter;
$height-image: $width-main*.45;
$height-footer: $width-logo-footer;

/*

	GLOBAL
	FUN

	*/

.clear-float {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/*

	THE
	LIST

	*/

#the-list {
	width: $width-main;
	margin: 0 auto;
	list-style-type: none;
	padding: 0 0 $height-footer;
	@extend .clear-float;
	@include vendor-prefix(box-sizing, border-box);
}
#the-list li {
	height: $height-image;
	margin: $space-vertical 0;
	@extend .clear-float;
	&:after {
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
	}
	.art, .info {
		//width: $width-main/2 - $width-gutter/2;
		width: 45%;
	}
	.art {
		height: 100%;
		img { // 'img' for now, will be 'canvas'
			width: 100%;
		}
	}
	.info {
		display: inline-block;
		vertical-align: middle;
	}
}
#the-list li:nth-of-type(even) {
	.art {
		float: right;
	}
	text-align: left;
	.info {
		display: inline-block;
		text-align: right;
	}
}
#the-list li:nth-of-type(odd) {
	.art {
		float: left;
	}
	text-align: right;
	.info {
		display: inline-block;
		text-align: left;
	}
}

/*

	THE
	NAV

	*/

footer nav {
	width: 100%;
	margin: 0;
	background-color: #fff;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
footer nav ul {
	width: $width-main;
	padding: 0;
	margin: 0 auto;
	@include vendor-prefix(box-sizing, border-box);
}
footer nav ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	&#logo, &#logo canvas {
		width: $width-logo-footer;
		height: $width-logo-footer;
		background-color: #fff;
	}
	&.flank {
		width: 45%;
		&.right {
			text-align: right;
			a {
				display: inline-block;
				margin-left: 5.5%;
			}
		}
	}
}

/*

	PHYSICAL
	STUFF

	*/

.textbox {
	@include vendor-prefix(box-sizing, border-box);
	$width: $width-main/2 - $width-gutter;
	width: $width;
	padding: $width-gutter/4;
	background-color: #fff;
	position: absolute;
	left: $space-vertical;
	top: $space-vertical;
	&.collapsed { /* this is probably temporary */
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 50%;
		width: 100%;
	}
}

#back-images {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: scroll;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

/*

	RESPONSIVE
	DESIGN
	LOL

	*/
@media (max-width: $width-main) {
	#the-list {
		width: $width-main/2+$width-gutter;
		li, li .art {
			height: ($width-main/2+$width-gutter)*.45;
		}
	}
	footer nav ul {
		width: $width-main/2+$width-gutter;
		padding: 0;
		margin: 0 auto;
		li#logo, li#logo canvas {
			width: ($width-main/2+$width-gutter)*0.1;
			height: ($width-main/2+$width-gutter)*0.1;
		}
	}
}

@media (max-width: ($width-main+$width-gutter*2)/2) {
	#the-list {
		width: 100%;
		padding: 0 $width-gutter/2 $height-footer/2;
	}
  #the-list li:nth-of-type(n) {
		.art {
			float: left;
			width: 100%;
			height: auto;
		}
		text-align: left;
		.info {
			float: left;
			width: 100%;
			vertical-align: top;
			margin: $space-vertical 0 $space-vertical*2;
		}
	}
	//
	//	FOOTER RESPONSIVENESS
	//
	footer nav ul {
		width: 100%;
		padding: 0 $width-gutter/2;
		li#logo {
			width: 10%; /* this is still broken */
		}
	}
}
