<!DOCTYPE HTML>

<html lang='en-us' dir='ltr'>

<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

  <title>WIP - admin</title>
  <link rel="shortcut icon" href="/ico/favicon.ico"/>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/js/admin.js"></script>
  <script src="/js/ga.js"></script>



  <style>

    .modal-body li {
      border: solid 3px #999; border-radius: 5px;
      display: inline-block;
      margin: 5px;
    }

    .modal-body .selected { border-color: #00aaff; }

    img {
      width: auto;
      height: 150px;
    }

    .form-group img {
      margin: 5px;
    }

    ul {
      list-style-type: none;
    }

    .well {
      margin-top: 5px;
      width: auto;
    }

  </style>

</head>

<body>
  <%= yield %>
</body>

</html>