<!DOCTYPE HTML>

<html lang='en-us' dir='ltr'>

<head>

  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

  <title>WIP - admin</title>
  <link rel="shortcut icon" href="/ico/favicon.ico"/>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<%= yield %>

</head>

<body>
  <%= yield %>
</body>

</html>