<div class="modal fade" id="cover-art-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Choose an Image (for album art)</h4>
      </div>
      <div class="modal-body">
        <ul>
          <% images.each do |image| %>
            <li><img src='<%= image %>'></li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" onClick="setCoverArt()">Save</button>
      </div>
    </div>
  </div>
</div>