<footer id='footer'>
  <nav>
    <ul>
      <li class='flank'>
        <!-- <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="business" value="waysinnerpass@gmail.com">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="display" value="1">
          <input type="submit" name="submit" border="0" value="VIEW CART">
        </form> -->
      <li id='logo'><a href='/home'><img src='/img/waysinnerpass-logo.svg' alt="WIP"></canvas></a>
      <li class='flank right'><a href='/about'>about</a><a href='https://twitter.com/waysinnerpass'>twitter</a><a href='https://soundcloud.com/waysinnerpass'>soundcloud</a>
    </ul>
  </nav>
</footer>