<ul id='the-list'>
  <li>
    <div class='art'>
      <img src='http://www.fillmurray.com/270/250' alt='art'>
    </div>
    <div class='info'>
      <h2 class='artist'>dreampeter</h2>
      <h2 class='title'>ambien lp</h2>
      <p>wip-001
      <time>june 1, 2014</time>
      <a href='/digital/WIP-001'>digital</a> / <a href='/physical/WIP-001'>physical</a></p>
    </div>
  </li>
  <li>
    <div class='art'>
      <img src='http://www.fillmurray.com/270/250' alt='art'>
    </div>
    <div class='info'>
      <h2 class='artist'>kohwi</h2>
      <h2 class='title'>hidden tape<br>forest cape</h2>
      <p>wip-002
      <time>july 12, 2014</time>
      <a href='/digital/WIP-002'>digital</a> / <a href='/physical/WIP-002'>physical</a></p>
    </div>
  </li>
  <li>
    <div class='art'>
      <img src='http://www.fillmurray.com/270/250' alt='art'>
    </div>
    <div class='info'>
      <h2 class='artist'>pascäal</h2>
      <h2 class='title'>butt science</h2>
      <p>wip-003
      <time>august 4, 2014</time>
      <a href='/digital/WIP-003'>digital</a> / <a href='/digital/WIP-003'>physical</a></p>
    </div>
  </li>
</ul>

<%= erb :footer %>