<style>
  #footer {
    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
  }
</style>
<body>
  HOME!
  </br>
  <div id='releases-list'>
    <ul>
      <li><a href='physical/WIP-001'>PHYSICAL 4 WIP-001</a>
      <li><a href='physical/WIP-002'>PHYSICAL 4 WIP-002</a>
      <li><a href='physical/WIP-002'>PHYSICAL 4 WIP-002</a>
    </ul>
  </div>
  <div id='footer'>
    w  a  y  s  i  n  n  e  r  p  a  s  s
  </div>
</body>
