<!DOCTYPE html>
<html>
<head>
  <title>Ways Inner Pass</title>
  <link rel="stylesheet" type="text/css" href="css/main.css"
</head>

<body>
  <br/>                                    
  <br/>                                    
  <br/>                                    
  <br/>                                    
  <br/>                                    
  <br/>                                    
  <br/>                                    
  &nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;.&nbsp;_&nbsp;&nbsp;_&nbsp;&nbsp;_&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;_&nbsp;&nbsp;_&nbsp;_ 
  <br/>                                    
  \)/(_|\/_)&nbsp;&nbsp;||&nbsp;)|&nbsp;)(-|&nbsp;&nbsp;&nbsp;|_)(_|_)_)&nbsp;
  <br />                                    
  /&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
  <br />                                    
</body>
</html>
