<script src="/js/svg.js"></script>
<script src="/js/svg.filter.min.js"></script>
<style>
  img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
</style>

<script type='text/javascript'>
  window.AudioContext = window.AudioContext || window.webkitAudioContext;

  var context = new AudioContext(),
      audio = new Audio(),
      source,
      gain,
      url = 'http://api.soundcloud.com/tracks/165664593/stream?secret_token=s-Q5i1q' +
            '&client_id=' + '<%= sc_client_id %>';

  audio.src = url;
  source = context.createMediaElementSource(audio);
  gainNode = context.createGain();
  gainNode.gain.value = 0;

  source.connect(gainNode);
  gainNode.connect(context.destination);

  source.loop = true;
  source.mediaElement.addEventListener('loadedmetadata', function() {
    startTime = (Date.now() % 3388372) / 1000;
    source.mediaElement.currentTime = startTime;
    source.mediaElement.play();
    //gainNode.gain.linearRampToValueAtTime(1.0, context.currentTime + 5);
  });
$(function() {
  draw = SVG('drawing').size(window.innerWidth, window.innerHeight);
  bgd1 = $('<img>', {src: 'https://s3.amazonaws.com/wip-static/digital-artwork/WIP-001/WIP001-digital-background.png'}).css('z-index', -2);;
  bgd2 = $('<img>', {src: 'https://s3.amazonaws.com/wip-static/digital-artwork/WIP-001/WIP001-digital-background.png'}).css('z-index', -1);;
  $('#drawing').append(bgd1);
  $('#drawing').append(bgd2);
  bgd2.css('opacity',0).fadeTo(10000,0.6);
  bgd1.css('opacity',0).fadeTo(10000,0.6);

  //var squiggles = Array();
  //for (var i = 0; i < 7; i++) {
  //  squiggles[i] = draw.image('http://s3.amazonaws.com/wip-static/digital-artwork/WIP-001/WIP001-digital-squiggle.svg');
  //  squiggles[i].size(350, 80);
  //  var squigMargin = squiggles[i].height()*3/4;
  //  var squigx = window.innerWidth-squiggles[i].width()-squigMargin/2;
  //  var squigy =  window.innerHeight-squiggles[i].height()-(squigMargin*(i+1));
  //  squiggles[i].attr({ x: squigx, y: squigy });
  //  squiggles[i].attr({ fill: '#000' });
  //}


});


var time,
    t;
    hz1i = 100 + Math.random(50);
    hz2i = 100 + Math.random(50);

function drawz() {
    requestAnimationFrame(drawz);
    var now = new Date().getTime(),
        dt = now - (time || now);
    time = now;

    t = dt/1000 + (t || 0);

    //gainNode.gain.value = Math.min(1, Math.max(0,(t/10 - 0.2)));


    hz1 = 90*Math.sin(10*t);
    hz2 = 90*Math.sin(-10*t);

    bigscale = 0.8 - 0.4*Math.cos(2*Math.PI*t/200);
    factor = 30;
    s1 = bigscale+(factor+Math.sin(2*Math.PI*t/12))/factor;
    s2 = bigscale+(factor+Math.cos(2*Math.PI*t/9))/factor;

    r = 1.6 - 1.5*Math.cos(2*Math.PI*t/15);

    spinrate = (100 - 90*Math.cos(2*Math.PI*t/1000))/100;
    spin_x = r*Math.sin(2*Math.PI*t*spinrate);
    spin_y = r*Math.cos(2*Math.PI*t*spinrate);

    bigspin = 900;
    bigspinrate = 7*Math.PI/5 - 2*Math.PI*t/300;
    ax = bigspin*Math.sin(bigspinrate) + spin_x;
    ay = bigspin*Math.cos(bigspinrate) + spin_y;
    bx = bigspin*Math.sin(bigspinrate) - spin_x;
    by = bigspin*Math.cos(bigspinrate) - spin_y;


    bgd1.css('webkitTransform', 'translate3d(' + ax + 'px,' + ay + 'px,0px) scale(' + s1 + ')');
    bgd2.css('webkitTransform', 'translate3d(' + bx + 'px,' + by + 'px,0px) scale(' + s2 + ')');
    //bgd2.css('webkitTransform', 'scale(' + r + ')');

}
requestAnimationFrame(drawz);
</script>

<div id="drawing">
</div>
