<script src="/js/lib/svg.min.js"></script>
<script src="/js/lib/svg.filter.min.js"></script>
<script src="/js/lib/svg.foreignobject.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>

<style>
#player {
  padding-top: 50px;
}

#container {
  position: absolute;
  height: 700px;
  width: 1500px;
  left: 50%;
  margin-left: -750px;
  top: 50%;
  margin-top: -375px;
}

#info-container {
  top: 0px;
  left: 750px;
  padding-top: 140px;
  padding-left: 10px;
  position: absolute;
  box-sizing: border-box;
  font-size:12pt;
}

#info-container li {
  margin: 1em 0;
  cursor: pointer;
  list-style-type: none;
}

.np-indicator {
  position: absolute;
  left: 20px;
  color: #666;
  cursor: default;
}

</style>

<script type='text/javascript'>

  var time;

  var draw, boxGroup, shadowBox;

  $(function() {
    draw = SVG('drawing').size(
      850,
      850
    ).style(
      'top:0px; position:absolute; left:0px'
    );

    //$(window).resize(function() {
    //  $('#drawing').css('height', window.innerHeight)
    //})

    var rectLength = 575;

    var diff = 20;

    var screenCornerY = 50;
    var screenCornerX = 125;
    var marginWidth = 150;

    var leftMargin = draw.rect(marginWidth, rectLength+2*marginWidth).move(screenCornerX - marginWidth, screenCornerY - marginWidth).fill('white');
    var rightMargin = draw.rect(marginWidth, rectLength+2*marginWidth).move(screenCornerX + rectLength, screenCornerY - marginWidth).fill('white');
    var topMargin = draw.rect(rectLength, marginWidth).move(screenCornerX, screenCornerY - marginWidth).fill('white');
    var bottomMargin = draw.rect(rectLength, marginWidth).move(screenCornerX, screenCornerY + rectLength).fill('white');

    var cutBox = draw.rect(rectLength,rectLength).move(screenCornerX, screenCornerY).stroke({ width: 2}).fill('none').front();

    boxGroup = draw.group().add(leftMargin).add(rightMargin).add(topMargin).add(bottomMargin).add(cutBox);
    shadowBox = draw.rect(rectLength,rectLength).move(screenCornerX - diff, screenCornerY - diff).stroke({ width: 2 }).fill('none');

    var divider = draw.line(750,100,750,600).stroke({ width: 2 });

    boxGroup.animate(10000, '<>').move(0,25).loop(0,true);
    shadowBox.animate(10000, '<>').move(screenCornerX - diff, screenCornerY + diff/2).loop(0,true);

    drawPlayControls();
  });

  function onPlayerStateChange(YTEvent) {
    drawNpIndicator(player.getPlaylistIndex());
  }

  function clearNpIndicator(){
    $('.np-indicator').empty() 
  }

  function drawNpIndicator(idx) {
    clearNpIndicator();
    $('#info-container li:eq(' + idx + ') .np-indicator').html(">>");
  }

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '600',
      width: '800',
      playerVars: {
        'controls': 0,
        'frameborder': 0,
        'modestbranding': 0,
        'rel': 0,
        'showinfo': 0,
        'autohide': 1,
        'listType': 'playlist',
        'list': 'PLbfcwV846cnVtgJgyYQ6sEnxxfj3p4Qtm',
        'autoplay': 1,
        'loop': 1
      },
      events: {
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function drawPlayControls() {
    var pcWidth = window.innerWidth;
    var pcHeight = 80;

    var bHeight = 40;
    var bWidth = 40;
    var buttonSpace = 150;

    var buttonFill = {
      color: '#fff',
      opacity: 0
    }

    var pcDividerMargin = 60;

    var playControls = SVG('play-controls').size(
      pcWidth,
      pcHeight
    ).style(
      'bottom:0px; position:absolute; left:50%; margin-left: ' + -pcWidth/2 + 'px;'
    );

    var prevX = pcWidth/2 - 1.5*buttonSpace
      , pauseX = pcWidth/2 - buttonSpace/2
      , playX = pcWidth/2 + buttonSpace/2
      , nextX = pcWidth/2 + 1.5*buttonSpace;

    var prevY = pauseY = playY = nextY = (pcHeight/2 - bHeight/2);

    var line = playControls.polyline([[0 + pcDividerMargin, pcHeight/2], [pcWidth - pcDividerMargin, pcHeight/2]]).stroke({width: 2});

    var playButton = playControls.polygon([[0,0], [0,40], [40,20]]).move(playX,playY).fill(buttonFill).stroke({width: 2});
    var pauseButton = playControls.group().add(
          playControls.rect(10,bHeight).fill(buttonFill).stroke({width: 2}).move(15,0)
        ).add(
          playControls.rect(10,bHeight).fill(buttonFill).stroke({width: 2})
        ).move(pauseX,pauseY);

    var nextButton = playControls.group().add(
          playControls.polygon([[0,0], [0,bHeight], [bWidth,bHeight/2]]).fill(buttonFill).stroke({width: 2}).move(20,0)
        ).add(
          playControls.polygon([[0,0], [0,bHeight], [bWidth,bHeight/2]]).fill(buttonFill).stroke({width: 2})
        ).move(nextX,nextY);

    var prevButton = playControls.group().add(
          playControls.polygon([[0,bHeight/2], [bWidth,bHeight], [bWidth,0]]).fill(buttonFill).stroke({width: 2})
        ).add(
          playControls.polygon([[0,bHeight/2], [bWidth,bHeight], [bWidth,0]]).fill(buttonFill).stroke({width: 2}).move(20,0)
        ).move(prevX,prevY);

    // add event handlers for play controls!!
    playButton.click(function() {
      player.playVideo();
    });

    pauseButton.click(function() {
      player.pauseVideo();
    });

    prevButton.click(function() {
      player.previousVideo();
    });

    nextButton.click(function() {
      player.nextVideo();
    });
  }

  function playTrack(index) {
    player.playVideoAt(index)
  }
</script>

<div id="container">
  <div id="drawing"></div>
  <div id="player"></div>
  <div id="info-container">
    <ul>
      <li onclick="playTrack(0)"><span class='np-indicator'></span>|**</li>
      <li onclick="playTrack(1)"><span class='np-indicator'></span>occupant</li>
      <li onclick="playTrack(2)"><span class='np-indicator'></span>terrarium</li>
      <li onclick="playTrack(3)"><span class='np-indicator'></span>prime meridians</li>
      <li onclick="playTrack(4)"><span class='np-indicator'></span>walls doors and windows</li>
      <li onclick="playTrack(5)"><span class='np-indicator'></span>gloved hand</li>
      <li onclick="playTrack(6)"><span class='np-indicator'></span>reflex</li>
      <li onclick="playTrack(7)"><span class='np-indicator'></span>-1</li>
      <li onclick="playTrack(8)"><span class='np-indicator'></span>long leash</li>
      <li onclick="playTrack(9)"><span class='np-indicator'></span>syrena</li>
      <li onclick="playTrack(10)"><span class='np-indicator'></span>terminal </li>
      <li onclick="playTrack(11)"><span class='np-indicator'></span>one large rooms</li>
      <li onclick="playTrack(12)"><span class='np-indicator'></span>***|</li>
    </ul>
  </div>
</div>
<div id="play-controls"></div>
