<style>
  /* google map default */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #street-view {
    height: 100%;
  }
</style>
<style>
  /* fonts */
  @font-face {
    font-family: 'clairvauxregular';
    src: url('/fonts/Clairvaux.eot');
    src: url('/fonts/Clairvaux.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Clairvaux.woff') format('woff'),
         url('/fonts/Clairvaux.ttf') format('truetype'),
         url('/fonts/Clairvaux.svg#clairvauxregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  /* google map, edits */
  
  a[title*="Click to see this area on Google Maps"] {
    display: none !important;
  }
  
  img[src*='//maps.gstatic.com/mapfiles/'] {
    display: none;
    pointer-events: none;
  }

  .gm-style-cc, .gm-iv-address {
    display: none !important;
  }

  #street-view > div > div {
    background-color: #000 !important; /* bg color of unloaded view */
  }

  #street-view > div > div:nth-of-type(6) {
    display: none;
  }

  .gmnoprint {
    opacity: 0;
  }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .gmnoprint {
      opacity: 1;
    }
    #street-view > div > div:nth-of-type(7) {
      display: none;
    }
  }

  /* WIP: global stylez */
  * { 
    cursor: crosshair;
  }

  /* body overlay text */
  #overlay {
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    font-size: 120px;
    white-space: nowrap;
    /*padding: 0 0.0833333333em;*/
  }
  #overlay .text {
    font-family: 'clairvauxregular', serif;
    color: #fff;
    line-height: 1;
    pointer-events:none;
    letter-spacing: 10px;
    /**/
    display: inline-block;
  }
  #overlay[class*=sidescroll] .text {
    position: relative;
  }
  #overlay .text{
    -webkit-animation: jerkwhole 100s 20s normal;
    position:relative;
  }
  @-webkit-keyframes jerkwhole {
    0% { }
    10% { -webkit-transform:skew(0,0); }
    20% { -webkit-transform:skew(80deg,0); }
    60% { -webkit-transform:skew(-100deg,0); }
    90% { -webkit-transform:skew(0,0); }
    100% { }
  }

</style>

<body>

  <div id="overlay" class="transition-sidescroll">
    <div class="text">
      thank you: my family, my friends, and all the lovelies who jam out every day of the week. we're all together in this. much love.
    </div>
  </div>

  <!-- begin: streetview -->
  <div id="street-view"></div>
  <script>

    // READINESS FLAG
    var ready = false;

    // CUSTOM PLACES
    var shigaraki = {lat: 34.8792073, lng: 136.055617, heading: 128, pitch: 0, zoom: 2};
    var places = [shigaraki];
    var placeIndex = 0;

    // GOOGLE DEFAULT
    var panorama;
    function initialize() {
      panorama = new google.maps.StreetViewPanorama(
          document.getElementById('street-view'),
          {
            position: {lat: places[placeIndex].lat, lng: places[placeIndex].lng},
            pov: {heading: places[placeIndex].heading, pitch: places[placeIndex].pitch},
            zoom: places[placeIndex].zoom
          });

      ready = true;
    }

    // RESET
    window.onkeydown = function (e) {
      if (e.keyCode == 65 && ready) {
        //placeIndex = 1;
        initialize();
      }
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCosJmQ25y_bRrOrPeOTL2j7DQ-3gBQPEs&signed_in=true&callback=initialize"></script>
  <!-- end: streetview -->

  <script>

    // VARIABLES
    // ---------

    // global vars & objects
    var $overlay = $('#overlay');
    var $text = $('#overlay .text');

    // define lyric array
    var lyrics = ['time stands still', 'true to life', 'on and on', 'it\'s a shadow of a memory and it always breaks my heart'];

    // FUNCTIONS
    // ---------

    // returns random lyric from array
    function getRandomLyric() {
      var rand = Math.floor(Math.random() * lyrics.length);
      return lyrics[rand];
    }

    // add lyric (splice)
    function spliceLyric() {
      var currLyrics = $text.text();
      var currLyricSplit = currLyrics.split(" ");
      var position = Math.floor(Math.random() * currLyricSplit.length);
      currLyricSplit.splice(position, 0, getRandomLyric());
      var newLyrics = currLyricSplit.join(' ');
      $('#overlay .text').each(function() {
        $(this).text(newLyrics);
      })
    }

    // start with one random lyric
    $text.text(getRandomLyric());


    // SCROLL LOGIC
    // ------------
    // init
    var offsetX, offsetY;
    function initializeText() {
      offsetX = 1.1;
      $text.css('left', $(window).outerWidth()*offsetX);
    }
    initializeText();
    // scroll
    function sideScroll() {
      var speed = 30;
      $text.animate({
        left: '-='+speed
      }, 200, 'linear', function(){
        if ($text.offset().left < -$text.outerWidth()*offsetX) {
          $text.css('left', $(window).outerWidth()*offsetX);
          spliceLyric();
        }
        sideScroll();
      });
    }
    sideScroll();
    // center vertically
    function centerText() {
      var textHeight = $text.outerHeight();
      var windowHeight = $(window).outerHeight();
      var offsetY = windowHeight/2 - textHeight/2 - textHeight*0.125;
      $text.css('top', offsetY);
    }
    centerText();
    $( window ).resize(function() {
      centerText();
    });
  </script>
</body>













