<script src="/js/svg.js"></script>
<script src="/js/svg.filter.min.js"></script>

<script type='text/javascript'>
  window.AudioContext = window.AudioContext || window.webkitAudioContext;

  var context = new AudioContext(),
      audio = new Audio(),
      source,
      gain,
      url = 'http://api.soundcloud.com/tracks/165664593/stream?secret_token=s-Q5i1q' +
            '&client_id=' + '<%= sc_client_id %>';

  audio.src = url;
  source = context.createMediaElementSource(audio);
  gainNode = context.createGain();
  gainNode.gain.value = 1.0;

  source.connect(gainNode);
  gainNode.connect(context.destination);

  source.loop = true;
  source.mediaElement.addEventListener('loadedmetadata', function() {
    startTime = (Date.now() % 3388372) / 1000;
    source.mediaElement.currentTime = startTime;
    source.mediaElement.play();
    //gainNode.gain.linearRampToValueAtTime(1.0, context.currentTime + 5);
  });
$(function() {
  draw = SVG('drawing').size(window.innerWidth, window.innerHeight);
  bgd1 = draw.image('/img/wip-001-digital_1.jpg');
  bgd2 = draw.image('/img/wip-001-digital_1.jpg');
  bgd2.opacity(0.5);




  $('#drawing').mousemove(function(e) {
    multz = 10.0
    trans_x = multz*(0.5 - e.pageX/window.innerWidth);
    trans_y = multz*(0.5 - e.pageY/window.innerHeight);

    bgd1.translate(trans_x, trans_y);
    bgd2.translate(-trans_x, -trans_y);


  });

});




Filters = {};
Filters.getPixels = function(img) {
  var c = this.getCanvas(img.width, img.height);
  var ctx = c.getContext('2d');
  ctx.drawImage(img);
  return ctx.getImageData(0,0,c.width,c.height);
};


</script>

<div id="drawing">
</div>