<style>
  /* fonts */
  @font-face {
    font-family: 'clairvauxregular';
    src: url('/fonts/Clairvaux.eot');
    src: url('/fonts/Clairvaux.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Clairvaux.woff') format('woff'),
         url('/fonts/Clairvaux.ttf') format('truetype'),
         url('/fonts/Clairvaux.svg#clairvauxregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  /* google map default */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #street-view {
    height: 100%;
  }

  /* google map, edits */

  .gmnoprint {
    display: none;
  }
  
  a[title*="Click to see this area on Google Maps"] {
    display: none !important;
  }
  
  img[src*='https://maps.gstatic.com/mapfiles/api-3/images/sv4.png'] {
    display: none;
    pointer-events: none;
  }
  .gm-style-cc, .gm-iv-address {
    display:none !important;
  }

  /* WIP: global stylez */
  * { 
    cursor: crosshair;
  }

  /* body overlay text */
  #overlay {
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
  }
  #overlay .text {
    font-family: 'clairvauxregular', serif;
    font-size: 72px;
    line-height: 1;
    /**/
    display: inline-block;
  }

</style>

<body>

  <div id="overlay">
    <div class="text">
      thank you: my family, my friends, and all the lovelies who jam out every day of the week. we're all together in this. much love.
    </div>
  </div>

  <!-- begin: streetview -->
  <div id="street-view"></div>
  <script>
    var panorama;
    function initialize() {
      panorama = new google.maps.StreetViewPanorama(
          document.getElementById('street-view'),
          {
            position: {lat: 34.8792073, lng: 136.055617},
            pov: {heading: 129.76, pitch: 0},
            zoom: 1,
          });
    }
  </script>
  <script async defer
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCosJmQ25y_bRrOrPeOTL2j7DQ-3gBQPEs&signed_in=true&callback=initialize">
  </script>
  <!-- end: streetview -->

  <script>

    // global var
    var $text = $('#overlay .text');

    // define lyric array
    var lyrics = ['time stands still', 'true to life', 'on and on', 'it\'s a shadow of a memory and it always breaks my heart'];

    // returns random lyric from array
    function getRandomLyric() {
      var rand = Math.floor(Math.random() * (lyrics.length));
      return lyrics[rand];
    }

    // start with one random lyric
    $text.text(getRandomLyric());

    $text.css('font-size', $( window ).width()/16);
  </script>
</body>













