/*

  TYPOGRAPHY

  */
@font-face {
    font-family: 'ocr_bregular';
    src: url('/fonts/OCR-B-webfont.eot');
    src: url('/fonts/OCR-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OCR-B-webfont.woff') format('woff'),
         url('/fonts/OCR-B-webfont.ttf') format('truetype'),
         url('/fonts/OCR-B-webfont.svg#ocr_bregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'ocr_bregular', Monaco, monospace;
  font-size: 1em;
  text-transform: lowercase;
}
h2 { /* 24px / 26px + 16px / 16px */
  font-size: 1.5em;
  line-height: 1.08333333333em;
  margin: 0.66666666666em 0;
}
p { /* 16px / 22px + 12px / 12px */
  font-size: 1em;
  line-height: 1.375em;
  margin: 1em 0;
}
time {
  display: block;
}
a, a:link, a:visited, a:active {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  -webkit-transition: all .5s linear 1ms;
  -ms-transition: all .5s linear 1ms;
  -moz-transition: all .5s linear 1ms;
  -o-transition: all .5s linear 1ms;
  transition: all .5s linear 1ms;
}
a:hover {
  color: #fff;
  -webkit-transition: all 5s linear 1ms;
  -ms-transition: all 5s linear 1ms;
  -moz-transition: all 5s linear 1ms;
  -o-transition: all 5s linear 1ms;
  transition: all 5s linear 1ms;
}
a:hover, a:active {
  text-decoration: underline;
}

/*
  
  PAGE
  SPECIFIC

  */

.info > h2:first-child {
  margin-top: 0;
}
.info > p:last-of-type, .info > pre:last-of-type, .info > pre p:last-of-type {
  margin-bottom: 0;
}

/*
  
  BUTTONS

  */

.button {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  margin-right: 1em;
  width: -webkit-calc(50% - .5em);
  width: calc(50% - .5em);
  border: 1px solid #000;
  text-align: center;
  height: auto;
  background-color: #fff;
}
.button:last-of-type {
  margin: 0;
}

.button:hover, .button:active {
  border-color: #fff;
}







